
MMPSystemManager/.vs/config/applicationhost.config
MMPSystemManager/.vs/MMPSystemManager/v15/.suo
MMPSystemManager/.vs/MMPSystemManager/v15/Server/sqlite3/db.lock
MMPSystemManager/.vs/MMPSystemManager/v15/Server/sqlite3/storage.ide
MMPSystemManager/.vs/MMPSystemManager/v15/Server/sqlite3/storage.ide-shm
MMPSystemManager/.vs/MMPSystemManager/v15/Server/sqlite3/storage.ide-wal
